# Output binary
a.out

# Object files
*.o
*.obj
*.ko
*.elf

# Precompiled headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo
*.lib
*.so
*.so.*
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Dependency files
*.d

client
server

.vscode